@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

body,
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}


.sticky-navbar{
  position: fixed !important;
  top: 0px;
  width: 100% !important;
  animation-name: navSlide;
  animation-duration: 0.50s;
  background-color: #fff !important;
  box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
}

@keyframes navSlide {
  0% {
      transform: translateY(-100%);
  }

  100% {
      transform: translateY(0%);
  }
}

  .mobile-menu-inner .menu-item{
  padding: 12px 0px;
  border-bottom: 1px solid rgba(3, 89, 107, 0.1);
}

.mobile-menu-container{
  transform-origin: left center;
  -webkit-transition: visibility 500ms ease 500ms, -webkit-transform 500ms ease 500ms;
  transition: visibility 500ms ease 500ms, -webkit-transform 500ms ease 500ms;
  transition: transform 500ms ease 500ms, visibility 500ms ease 500ms;
  transition: transform 500ms ease 500ms, visibility 500ms ease 500ms, -webkit-transform 500ms ease 500ms;
}

.mobile-menu-container.active{
  opacity: 1;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  visibility: visible;
  -webkit-transition: visibility 500ms ease 0ms, -webkit-transform 500ms ease 0ms;
  transition: visibility 500ms ease 0ms, -webkit-transform 500ms ease 0ms;
  transition: transform 500ms ease 0ms, visibility 500ms ease 0ms;
  transition: transform 500ms ease 0ms, visibility 500ms ease 0ms, -webkit-transform 500ms ease 0ms;
}

.mobile-menu-container .mobile-menu-content{
  -webkit-transition: opacity 500ms ease 0ms, visibility 500ms ease 0ms, -webkit-transform 500ms ease 0ms;
  transition: opacity 500ms ease 0ms, visibility 500ms ease 0ms, -webkit-transform 500ms ease 0ms;
  transition: opacity 500ms ease 0ms, visibility 500ms ease 0ms, transform 500ms ease 0ms;
  transition: opacity 500ms ease 0ms, visibility 500ms ease 0ms, transform 500ms ease 0ms, -webkit-transform 500ms ease 0ms;
}

.mobile-menu-container.active .mobile-menu-content{
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: opacity 500ms ease 500ms, visibility 500ms ease 500ms, -webkit-transform 500ms ease 500ms;
  transition: opacity 500ms ease 500ms, visibility 500ms ease 500ms, -webkit-transform 500ms ease 500ms;
  transition: opacity 500ms ease 500ms, visibility 500ms ease 500ms, transform 500ms ease 500ms;
  transition: opacity 500ms ease 500ms, visibility 500ms ease 500ms, transform 500ms ease 500ms, -webkit-transform 500ms ease 500ms;
}

@media (max-width: 1023px){
  .search-menu-item{
      border: none !important;
  }
}

  @media (min-width: 1024px){
      .search-bar-box{
  position: absolute;
  background: #fff;
  right: 0;
  top: 120%;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-30%);
  transition: all 0.3s ease-in-out;
}

.search-bar-box.active{
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
}
  }